.App {
  text-align: center;
  background: url("./Images/background5.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.App-logo {
  height: 90vmin;
  pointer-events: none;
}

.logo-responsive {
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 30s linear; */
  }
}

.App-header {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 5%; */
  max-width: 80%;
  height: auto;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main {
  color: antiquewhite;
}

.para {
  max-width: 90%;
  margin: auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.band {
  background-color: rgba(241, 229, 210, 0.5);
  padding-top: 3%;
  padding-bottom: 3%;
  width: 90%;
  margin: 0 auto;
}

.band .figure-caption {
  font-size: large;
}

.figure-caption {
  color: blanchedalmond;
  font-size: 8px;
}
