.App {
  text-align: center;
  background: url("./Images/background5.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: auto;
}

.App-logo {
  height: 90vmin;
  pointer-events: none;
}

.logo-responsive {
  max-width: 100%;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
} */

.App-header {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  max-width: 100%;
  height: auto;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  padding-top: 1%;
}

h4 {
  font-style: oblique;
}

li {
  list-style: none;
}

h4,
h5,
#lineuptag,
#fbcap,
#shows,
#xtracap,
.para,
.figure-caption,
.list {
  text-shadow: 1.5px 1px rgba(46, 45, 43, 0.5);
}

/***********************NAV PAGE******************/

.bandName {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  /* font-weight: bold; */
  text-shadow: 1px 1px rgba(194, 170, 170, 0.5);
}

/**********************MAIN PAGE******************/
.Main {
  color: antiquewhite;
  min-height: 100%;
}

.para {
  max-width: 90%;
  padding-bottom: 1%;
  margin: auto;
}

/* .container{} */

.band {
  background-color: rgba(241, 229, 210, 0.5);
  padding-top: 3%;
  padding-bottom: 8%;
  width: 95%;
  margin: 0 auto;
}

.capBkgrnd {
  background: rgba(115, 116, 118, 0.5);
  height: auto;
}

.mel,
.js,
.jb,
.diane,
.aaron,
.crit {
  height: 575px;
}

#fbcap {
  margin-top: 2%;
  font-style: italic;
}

/*******************XTRAS PAGE********************/
.xtras {
  color: blanchedalmond;
  /* font-size: 6px; */
  margin-top: 5%;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.figure img {
  height: 500px;
}

.figure-caption {
  color: blanchedalmond;
  font-size: 8px;
  text-shadow: 1px 1px rgba(14, 13, 13, 0.5);
}

.band .figure-caption {
  font-size: large;
}

.figure a:hover {
  color: rgb(211, 196, 173);
}

.joel {
  width: 500px;
}

.jerbo {
  width: 500px;
}

.caption {
  font-size: small;
}

.caption a {
  color: blanchedalmond;
}

.text-left {
  width: 90%;
  margin: auto;
}
/**************SHOWS PAGE*************************/
.gallery {
  margin-top: 5%;
  /* padding-bottom: 5%; */
}

.gallery .d-block {
  height: 600px;
}

.carousel {
  width: 80%;

  margin: auto;
}

#shows {
  margin-top: 2%;
}

/**********************SET LIST PAGE******************/

.list {
  margin-top: 5%;
}

.listRow {
  color: blanchedalmond;

  padding-top: 3%;
}

.steady {
  height: 40px;
}

/**************************MUSIC PAGE*************/

.wndw {
  margin-top: 5%;
}

.player {
  background-color: rgb(187, 184, 179, 0.5);
  padding-top: 1%;
  padding-bottom: 5%;
  margin: auto;
}

.react-player {
  padding-top: 2%;
}

.playerCap {
  background-color: black;
  font-size: x-small;
  padding-top: 1%;
  padding-bottom: 1%;
}

.music-div {
  padding-top: 5%;
  height: 160px;
  width: 80%;
  margin: auto;
}

#span {
  font-size: xx-small;
}

/*****************************START MEDIA QUERY min-width 300*****************************/
/*****************************START MEDIA QUERY min-width 300*****************************/

@media only screen and (min-width: 300px) and (max-width: 700px) {
  /***********************NAV PAGE****************/

  /*********************MAIN PAGE*****************/
  .aaron,
  .mel,
  .diane,
  .jb,
  .js,
  .crit {
    height: 236px;
  }

  /**********************XTRAS PAGE***************/
  .xtras {
    margin-top: 30%;
  }

  .figure img {
    height: 400px;
  }

  /************************SHOWS PAGE***************/
  .gallery {
    margin-top: 30%;
    padding-bottom: 30%;
  }

  .gallery .d-block {
    height: 300px;
  }

  .carousel {
    width: 100%;
    padding-top: 4%;
  }

  #shows {
    margin-top: 5%;
    padding-bottom: 5%;
  }

  /**********************SET LIST PAGE**************/
  .list {
    padding-top: 10%;
    margin-top: 30%;
  }

  /**********************MUSIC PAGE*****************/
  .wndw {
    margin-top: 30%;
    padding-bottom: 30%;
  }

  .player {
    width: 95%;
  }
  .react-player {
    width: 90%;
  }
}

/*****************************START MEDIA QUERY min-width 700*****************************/
/*****************************START MEDIA QUERY min-width 700*****************************/

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .list {
    padding-top: 20%;
  }

  .gallery {
  }

  .xtras {
  }

  .navbar {
    margin-bottom: 10%;
  }
}
